<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paxi.aroundthedanceb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activities.ActivityCarga"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.ActivityInicioTabsDown"
            android:screenOrientation="portrait"/>

        <activity android:name=".Activities.ActivityInicioTabsUp"
            android:screenOrientation="portrait"/>

        <activity android:name=".Activities.ActivityLogin"
            android:screenOrientation="portrait"/>

        <activity android:name=".Fragments.FragmentLoginCreateUser"
            android:screenOrientation="portrait"/>

        <activity android:name=".Activities.ActivityEventsNewEvent"
            android:screenOrientation="portrait"/>

        <activity android:name=".Activities.ActivtyEventsBusquedaAvanzada"
            android:screenOrientation="portrait"/>

        <activity android:name=".Maps.MapsAddLocationEvent"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAOnP2zTeMwwYXQPLhnqahDuaLN0gdVcfU" />

    </application>

</manifest>